{% extends 'layout.html' %}
{% block body %}
<main role="main" class="container">

      <div class="starter-template">
        <h1>Welcome to the simple forum</h1>
        <h2><small>You can use this to post/read articles</small> </h2>
        <h3>Please <a href="/login">login</a> if you are a registered user, else please <a href="/signup">register</a></h3>
        <p class="lead"><br></p>
        <center><img src="/static/Welcome.png" width=40% height=40%></center>
      </div>

    </main><!-- /.container -->
{% endblock %}